.window {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

.signin-text {
  color: white;
  font-size: xx-large;
}

input[type="text"] {
  margin: 10px;
  height: 2rem;
  width: 15rem;
  border-radius: 1rem;
  padding-left: 1rem;
}

.emotes {
  visibility: visible;
  color: white;
  margin: 20px;
  font-size: xx-large;
  font-weight: bold;
}

.signin-button,
.direct-to-login {
  background-color: white;
  height: 5rem;
  width: 15rem;
  border-radius: 2.5rem;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
  transition: transform 0.1s ease-in-out;
}

.signin-button:hover,
.direct-to-login:hover {
  transform: translateY(-10px);
}

.nonmatching-passwords {
  position: absolute;
  z-index: 1;
  left: 65%;
  background-color: lightyellow;
  padding: 20px;
  top: 17%;
}

.weak-password {
  position: absolute;
  left: 70%;
  top: 10%;
  background-color: lightblue;
  padding: 20px;
}

.hidden {
  visibility: hidden;
}
